{#{% extends "base.html" %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库查询显示</title>
</head>
<body>
{#    <form action="/index/" method="POST">#}
{#        <p><input name="name" placeholder="name" width="200"/></p>#}
{#        <p><input name="name" placeholder="name" width="200"/></p>#}
{#        <p><input name="process" placeholder="process" width="200"/></p>#}
{#        <p><input name="local_ip" placeholder="local_ip" width="200"/></p>#}
{#        <p><input name="local_port" placeholder="local_port" width="200"/></p>#}
{#        <p><input name="remote_ip" placeholder="remote_ip" width="200"/></p>#}
{#        <p><input name="remote_port" placeholder="remote_port" width="200"/></p>#}
{#        <p><input name="protocol" placeholder="protocol" width="200"/></p>#}
{#        <p><input name="direction" placeholder="direction" width="200"/></p>#}
{#        <p><input name="action" placeholder="action" width="200"/></p>#}
{#        <p><input name="type" placeholder="type" width="200"/></p>#}
{#        <p><input name="enalbled" placeholder="enalbled" width="200"/></p>#}
{#        <p><input name="profile" placeholder="profile" width="200"/></p>#}
{#    </form>#}

    <form action="/search/" method="POST">
        <input name="search_name" placeholder="name" width="200"/><button type="submit" class="btn btn-info" name="search">search</button><button type="submit" class="btn btn-info" name="add">add</button>
    </form>
{#    <form action="/add/" method="POST">#}
{#        <input type="submit" value="add"/>#}
{#    </form>#}

{#<button type="submit" class="btn btn-info" name="add">add</button>#}

    <form action="/delete/" method="POST">
        <p><input name="delete_number" placeholder="number" width="200"/><input type="submit" value="delete" /></p>
    </form>
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>process</th>
            <th>local_ip</th>
            <th>local_port</th>
            <th>remote_ip</th>
            <th>remote_port</th>
            <th>protocol</th>
            <th>direction</th>
            <th>action</th>
            <th>type</th>
            <th>enalbled</th>
            <th>profile</th>
        </tr>
        {% for item in li %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.process }}</td>
            <td>{{ item.local_ip }}</td>
            <td>{{ item.local_port }}</td>
            <td>{{ item.remote_ip }}</td>
            <td>{{ item.remote_port }}</td>
            <td>{{ item.protocol }}</td>
            <td>{{ item.direction }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.enalbled }}</td>
            <td>{{ item.profile }}</td>
            <td><a href = "/change_/?id={{ item.id }}">修改</a></td>
            <td><a href = "/D/?id={{ item.id }}"  onclick="return window.confirm('确认删除?');">删除</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>